mr-auto {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar-item {
  display: flexbox;
  justify-content: space-around;

padding: 2px;



}
.navbar-item:hover {
  padding-bottom: 1px;
  background-color:rgb(133, 209, 133); /*will change background-color of element on hover */
  color: white; /*will change color of text within the element on hover */
  flex: 100%;
  }